* {
	padding: 0;
	margin: 0;
	font-family: Chava;
	box-sizing: border-box;
}

body {
	background-color: #f8dfa1;
}

.header {
	min-height: 100vh;
	min-width: 85vw;
	background-image: linear-gradient(rgba(248, 223, 161, 0.7), rgba(255, 255, 255, 0.288)), url(bkg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.navbar {
	display: flex;
	justify-content: space-between;
	float: right;
	position: sticky;
}

.navbar-links ul {
	display: flex;
	padding-right: 10px;
	position: sticky;
}

.navbar-links ul li {
	list-style: none;
	padding-right: 10px;
	position: sticky;
}

.navbar-links ul li a {
	font-size: 1.4rem;
	display: block;
	position: sticky;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

h1, p {
	color: white;
}

.ID {
	width: 99%;
	top: 30%;
	position: absolute;
	/* display: block; */
	margin: 4px;
	padding: 10px;
	background: #f8dfa1;
	border: solid black;
	text-align: center;

}

.ID a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.ID a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.ID img {
	display: flex;
	width: 10vmax;
	background-color: gray;
	border: solid black;
	margin-bottom: 2px;
}

.ID h1 {
	padding-bottom: 10px;
	color: black;
	text-align: left;
}

.IDInfo {
	display: flex;
	/* flex-direction: column; */
}

.IDText a, p, li {
	font-size: 3vw;
	padding-right: 2px;
	padding-left: 2px;
	float: none;
	color: black;
}

.IDText ul, li {
	list-style-type: none;
}

.linked li, ul {
	font-size: 30px;
	display: flex;
	flex-direction: row;
}

.linked p {
	font-size: 30px;
}

.actpage {
	background-color: #f8dfa1;
	border: solid black;
}
.center {
  position: absolute; 
  margin-bottom: 1vmax;
  bottom: auto;
  right: 0; 
  left: 0; 
  text-align: center;   
  vertical-align: middle;
}
.feet {
	border: solid black;
	padding: 40px;
	width:  100%;
	float: none;
}
.feet p {
	font-size: 20px;
	text-align: center; 
	margin-bottom: 25px;
}
.feet i {
	display: inline-block; 
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 15px;
	vertical-align: middle;
	text-align: center;
}
.projecttxt li h3 {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

@media (max-width: 600px) {

	.ID {
		width: 98%;
		position: absolute;
		text-align: center;
	}
	
	.feet i {
	margin-right: 5px;
	margin-left: 5px;
	}

	.ID h1 {
		text-align: left;
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links {
		flex-direction: column;
		align-items: flex-start;
		width: 100vw;
	} 
	.navbar-links ul {
		width: 100vw;
		flex-direction: column;
		text-align: center;
	}
	.navbar-links ul li {
		width: 100vw;
		flex-direction: column;
		text-align: center;
	}
}

@media (min-width: 1000px) {
	.IDText a, p, li {
		font-size: 2vw;
		padding-right: 15px;
	}
}


@media (max-width: 300px) {
  .feet i {
	margin-right: 3px;
	margin-left: 3px;
	}
	.IDText a, p, li {
	font-size: 9px;
}
}